{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block full_content %}
<div class="container">

    <div class='row'>
        <div class='col-sm-8 col-sm-offset-2'>
            <h1><i class='fa fa-fw fa-info-circle'></i> About</h1>
            {{ page.text|safe }}
            <hr />
            <h3><i class='fa fa-fw fa-download'></i> Bulk downloads</h3>
            <p>The data powering The Openness Project is updated regularly and can be downloaded in bulk using these links:</p>
            
            <p>
                <a href="/api/bulk/contributions/" class="btn btn-default"><i class='fa fa-fw fa-download'></i> Contributions</a>
                <a href="/api/bulk/expenditures/" class="btn btn-default"><i class='fa fa-fw fa-download'></i> Expenditures</a>
                <a href="/api/bulk/candidates/" class="btn btn-default"><i class='fa fa-fw fa-download'></i> Candidates</a>
                <a href="/api/bulk/committees/" class="btn btn-default"><i class='fa fa-fw fa-download'></i> PACs</a>
            </p>
        </div>
    </div>


</div>
{% endblock %}
