{% extends 'base.html' %}

{% block title %}Data downloads{% endblock %}

{% block full_content %}
<div class="container">
    <div class='row'>
        <div class='col-sm-8 col-sm-offset-2'>
            <h1 id='download'><i class='fa fa-fw fa-download'></i> Data downloads</h1>
            <hr />
            {{ page.text|safe }}
            <h3>Candidates and committees</h3>
            <p>
                <a href="/api/bulk/contributions/" class="btn btn-default"><i class='fa fa-fw fa-download'></i> Contributions</a>
                <a href="/api/bulk/expenditures/" class="btn btn-default"><i class='fa fa-fw fa-download'></i> Expenditures</a>
                <a href="/api/bulk/candidates/" class="btn btn-default"><i class='fa fa-fw fa-download'></i> Candidates</a>
                <a href="/api/bulk/committees/" class="btn btn-default"><i class='fa fa-fw fa-download'></i> PACs</a>
            </p>
            <br />
            <h3>Lobbyists and lobbyist employers</h3>
            <p>
                <a href="/api/bulk/lobbyist-contributions/" class="btn btn-default"><i class='fa fa-fw fa-download'></i> Contributions</a>
                <a href="/api/bulk/lobbyist-expenditures/" class="btn btn-default"><i class='fa fa-fw fa-download'></i> Expenditures</a>
                <a href="{% url 'bulk-lobbyists' %}" class="btn btn-default"><i class='fa fa-fw fa-download'></i> Lobbyists</a>
                <a href="{% url 'bulk-employers' %}" class="btn btn-default"><i class='fa fa-fw fa-download'></i> Employers</a>
                <a href="{% url 'bulk-employments' %}" class="btn btn-default"><i class='fa fa-fw fa-download'></i> Employment histories</a>
            </p>
            <br />
        </div>
    </div>
</div>
{% endblock %}
