{% extends 'base.html' %}
{% load static %}

{% block title %}Data downloads{% endblock %}

{% block full_content %}
<div class="container">
    <div class='row'>
        <div class='col-sm-8 col-sm-offset-2'>
            <h1 id='download'><i class='fa fa-fw fa-download'></i> Data downloads</h1>
            <hr />
            {{ page.text|safe }}
            <h3>
                <i class="fa fa-fw fa-users"></i>
                    Candidates and committees
            </h3>
            <br/>

            <div class="row">
                <h4 class="col-xs-12">
                    <i class="fa fa-fw fa-plus-circle"></i>
                    Contributions
                </h4>
                {% with action='/api/bulk/contributions/' icon='fa fa-fw fa-download' title='Contributions' from_id='from1' to_id='to1' %}
                    {% include 'camp_fin/widgets/calendar-form.html' %}
                {% endwith %}
                <div class="col-xs-12">
                    <br/>
                </div>
            </div>

            <div class="row">
                <h4 class="col-xs-12">
                    <i class="fa fa-fw fa-minus-circle"></i>
                    Expenditures
                </h4>
                {% with action='/api/bulk/expenditures/' icon='fa fa-fw fa-download' title='Expenditures' from_id='from2' to_id='to2' %}
                    {% include 'camp_fin/widgets/calendar-form.html' %}
                {% endwith %}
                <div class="col-xs-12">
                    <br/>
                </div>
            </div>

            <div class="row">
                <h4 class="col-xs-12">
                    <i class="fa fa-fw fa-user"></i>
                    Candidates
                </h4>
                {% with action='/api/bulk/candidates/' icon='fa fa-fw fa-download' title='Candidates' from_id='from3' to_id='to3' %}
                    {% include 'camp_fin/widgets/calendar-form.html' %}
                {% endwith %}
                <div class="col-xs-12">
                    <br/>
                </div>
            </div>

            <div class="row">
                <h4 class="col-xs-12">
                    <i class="fa fa-fw fa-users"></i>
                    PACs
                </h4>
                {% with action='/api/bulk/committees/' icon='fa fa-fw fa-download' title='PACs' from_id='from4' to_id='to4' %}
                    {% include 'camp_fin/widgets/calendar-form.html' %}
                {% endwith %}
                <div class="col-xs-12">
                    <br/>
                </div>
            </div>

            <br />
            <h3>
                <i class="fa fa-fw fa-university"></i>
                Lobbyists and lobbyist employers
            </h3>
            <br/>

            <div class="row">
                <h4 class="col-xs-12">
                    <i class="fa fa-fw fa-plus-circle"></i>
                    Contributions
                </h4>
                {% with action='/api/bulk/lobbyist-contributions/' icon='fa fa-fw fa-download' title='Contributions' from_id='from5' to_id='to5' %}
                    {% include 'camp_fin/widgets/calendar-form.html' %}
                {% endwith %}
                <div class="col-xs-12">
                    <br/>
                </div>
            </div>

            <div class="row">
                <h4 class="col-xs-12">
                    <i class="fa fa-fw fa-minus-circle"></i>
                    Expenditures
                </h4>
                {% with action='/api/bulk/lobbyist-expenditures/' icon='fa fa-fw fa-download' title='Expenditures' from_id='from6' to_id='to6' %}
                    {% include 'camp_fin/widgets/calendar-form.html' %}
                {% endwith %}
                <div class="col-xs-12">
                    <br/>
                </div>
            </div>

            <div class="row">
                <h4 class="col-xs-12">
                    <i class="fa fa-fw fa-user"></i>
                    Lobbyists
                </h4>
                {% with action='/api/bulk/lobbyists/' icon='fa fa-fw fa-download' title='Lobbyists' from_id='from7' to_id='to7' %}
                    {% include 'camp_fin/widgets/calendar-form.html' %}
                {% endwith %}
                <div class="col-xs-12">
                    <br/>
                </div>
            </div>

            <div class="row">
                <h4 class="col-xs-12">
                    <i class="fa fa-fw fa-users"></i>
                    Lobbyist employers
                </h4>
                {% with action='/api/bulk/employers/' icon='fa fa-fw fa-download' title='Lobbyist employers' from_id='from8' to_id='to8' %}
                    {% include 'camp_fin/widgets/calendar-form.html' %}
                {% endwith %}
                <div class="col-xs-12">
                    <br/>
                </div>
            </div>

            <div class="row">
                <h4 class="col-xs-12">
                    <i class="fa fa-fw fa-clock-o"></i>
                    Employment histories
                </h4>
                {% with action='/api/bulk/employments/' icon='fa fa-fw fa-download' title='Employment histories' from_id='from9' to_id='to9' %}
                    {% include 'camp_fin/widgets/calendar-form.html' %}
                {% endwith %}
                <div class="col-xs-12">
                    <br/>
                </div>
            </div>
            <br/>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script src="{% static 'js/init-datepicker.js' %}">
        $(document).ready(function(){
            var ids = [1, 2, 3, 4, 5, 6, 7, 8, 9];

            for (var i=0; i<ids.length; i++) {
                // Start date
                $( '#from' + id[i] ).datepicker({
                    dayNamesMin: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
                    prevText: '',
                    nextText: '',
                    dateFormat: "yy-mm-dd",
                    maxDate: new Date(),
                    minDate: new Date( 1994, 0, 1),
                    changeMonth: true,
                    changeYear: true
                });

                // End date
                $( '#to' + id[i] ).datepicker({
                    dayNamesMin: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
                    prevText: '',
                    nextText: '',
                    dateFormat: "yy-mm-dd",
                    maxDate: new Date(),
                    minDate: new Date( 1994, 0, 1),
                    changeMonth: true,
                    changeYear: true
                });
            }
        });
    </script>
{% endblock %}
