{% load staticfiles %}
{% load bootstrap_pagination %}
{% load humanize %}
{% load helpers %}

<table class="table table-striped table-hover table-responsive" id="candidate-list">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Lobbyist</th>
            <th>Employers</th>
            <th class="text-right">Total contributions</th>
        </tr>
    </thead>
    <tbody>
        {% for lobbyist in lobbyists %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>
                    <a href="{% url 'lobbyist-detail' lobbyist.slug %}">
                        {{ lobbyist.full_name }}
                    </a>
                </td>
                <td>
                    {% with employers=lobbyist.employers %}
                        {% for employment in employers %}
                            {{ employment.organization }}
                            {% if employers|length > 1 %}
                                <small>{{ employment.year }}</small>
                                {% if not forloop.last %}
                                    <br/>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                </td>
                <td class="text-right">
                    <span class="hidden-sm hidden-xs">{{ lobbyist.total_expenditures|format_money }}</span>
                    <span class="visible-sm-block visible-xs-block">{{ lobbyist.total_expenditures|format_money_short }}</span>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
