Django==3.2.25
psycopg2-binary==2.9.9
django-bootstrap-pagination==1.7.1
djangorestframework==3.15.1
django-pdb==0.6.2
gunicorn==22.0.0
pytz==2024.1
django-ckeditor==6.7.1
Pillow==10.3.0
djangorestframework-csv==3.0.2
sentry-sdk[django]==1.39.1
python-dateutil==2.9.0.post0
dj-database-url
whitenoise
tqdm
django-filter==23.5
django-select2
