{% extends 'base.html' %}
{% load bootstrap_pagination %}
{% load helpers %}
{% block title %}Candidates{% endblock %}
{% block full_content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <h1><i class='fa fa-fw fa-user'></i> Candidates</h1>

            <table class="table table-striped" id="candidate-list">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>
                            <a href="{% url 'candidate-list' %}?{% query_transform request order_by='last_name' sort_order=toggle_order %}">
                                Candidate
                            </a>
                            {% if order_by == 'last_name' %}
                                {{ sort_order|get_sort_icon|safe }}
                            {% endif %}
                        </th>

                        <th class='hidden-sm hidden-xs'>
                            <a href="{% url 'candidate-list' %}?{% query_transform request order_by='office_name' sort_order=toggle_order %}">
                                Office
                            </a>
                            {% if order_by == 'office_name' %}
                                {{ sort_order|get_sort_icon|safe }}
                            {% endif %}
                        </th>
                        <th class='hidden-sm hidden-xs'>
                            <a href="{% url 'candidate-list' %}?{% query_transform request order_by='committee_name' sort_order=toggle_order %}">
                                Committee
                            </a>
                            {% if order_by == 'committee_name' %}
                                {{ sort_order|get_sort_icon|safe }}
                            {% endif %}
                        </th>
                        <th class='text-right no-wrap'>
                            <a href="{% url 'candidate-list' %}?{% query_transform request order_by='closing_balance' sort_order=toggle_order %}">
                                Funds
                            </a>
                            {% if order_by == 'closing_balance' %}
                                {{ sort_order|get_sort_icon|safe }}
                            {% endif %}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for candidate in object_list %}
                        <tr>
                            <td>{{ candidate.rank }}</td>
                            <td>
                                <a href="{% url 'candidate-detail' candidate.slug %}">
                                    {{ candidate.full_name }}
                                </a>
                                <small class='visible-sm-block visible-xs-block'>{{ candidate.office_name }} {{ candidate.office_type }}</small>
                            </td>
                            <td class='hidden-sm hidden-xs'>
                                {{ candidate.office_name }} {{ candidate.office_type }}
                            </td>
                            <td class='hidden-sm hidden-xs'>{{ candidate.committee_name|default_if_none:"" }}</td>
                            <td class='text-right'>
                                <span class='hidden-sm hidden-xs'>{{ candidate.closing_balance|format_money }}</span>
                                <span class='visible-sm-block visible-xs-block'>{{ candidate.closing_balance|format_money_short }}</span>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% bootstrap_paginate object_list range=10 %}
        </div>
    </div>
</div>

{% endblock %}

