{% extends 'base-detail.html' %}
{% load helpers %}
{% load staticfiles %}
{% block title %}{{ candidate.full_name }}{% endblock %}

{% block header %}
    <p><a href='/candidates'>&laquo; Candidates</a></p>
    <h1>{{ candidate.full_name }}</h1>
    {% if sos_link %}
        <p><a href="{{sos_link}}" target="_blank">View on the New Mexico Secretary of State's website &raquo;</a></p>
    {% endif %}
{% endblock %}

{% block charts %}
    <h3>Net funds over time</h3>
    <div id='net-funds-chart'></div>

    <h3>Donations and expenditure rates over time</h3>
    <div id='expend-chart'></div>

{% endblock %}

{% block campaigns %}
    <h3>Campaigns</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Office (Party)</th>
                <th>Committee</th>
                <th>Election year</th>
            </tr>
        </thead>
        <tbody>
            {% for campaign in candidate.campaign_set.all %}
                <tr>
                    <td>{{ campaign.office.description }} ({{ campaign.political_party }})</td>
                    <td>{{ campaign.committee_name|default_if_none:"" }}</td>
                    <td>{{ campaign.election_season.year }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>
        <strong>
            <i class="fa fa-fw fa-check-square-o"></i>
            Latest race:
        </strong>
        <a href="{% url 'race-detail' latest_race.id %}">
            {{ latest_race }} &raquo;
        </a>
    </p>
{% endblock %}

{% block js_templates %}
    <script type="text/EJS" id="top-money-table-guts">
        <table class="table table-striped">
            <thead>
                <tr>
                    <% if(transaction_type == 'top-donors'){ %>
                        <th>Donor</th>
                        <th>Total donated</th>
                    <% } else { %>
                        <th>Recipient</th>
                        <th>Total received</th>
                    <% } %>
                    <th>Election year</th>
                </tr>
            </thead>
            <tbody>
                <% $.each(transactions, function(i, transaction){ %>
                    <% if (transaction.company_name && transaction.company_name != 'N/A'){ %>
                        <% var full_name = transaction.company_name %>
                    <% } else { %>
                        <% var full_name = getPersonName(transaction) %>
                    <% }%>
                    <tr>
                        <td>
                            <a href='/search/?term=<%= full_name %>'>
                                <%= full_name %>
                            </a>
                        </td>
                        <td class='nowrap'>
                            <%= accounting.formatMoney(transaction.amount) %>
                        </td>
                        <td><%= transaction.year %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </script>
{% endblock %}
