{% extends 'base-detail.html' %}
{% load helpers %}
{% load staticfiles %}
{% block title %}{{ candidate.full_name }}{% endblock %}

{% block header %}
    <p class="breadcrumbs"><a href='/candidates'>&laquo; Candidates</a></p>
    <h1>
        <i class="fa fa-fw fa-user"></i>
        {{ candidate.full_name }}
        <small>Candidate</small>
    </h1>
    {% if sos_link %}
        <p><a href="{{sos_link}}" target="_blank">View on the New Mexico Secretary of State's website &raquo;</a></p>
    {% endif %}
    {% if stories %}
        <h3>Related stories</h3>
            <ul>
            {% for story in stories %}
                <li><a href="{{ story.link }}">{{ story.title }}</a></li>
            {% endfor %}
            </ul>
    {% endif %}
{% endblock %}

{% block charts %}
    <h3><i class="fa fa-fw fa-area-chart"></i> Net funds over time</h3>
    <div id='net-funds-chart'></div>

    <h3><i class="fa fa-fw fa-bar-chart"></i> Donations and expenditures over time</h3>
    <div id='expend-chart'></div>

{% endblock %}

{% block campaigns %}
    <h3><i class="fa fa-fw fa-check-square-o"></i>Latest race</h3>
    <p style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif">
        <a href="{% url 'race-detail' latest_race.id %}">
            {{ latest_race }} &raquo;
        </a>
    </p>
    <div class="row">
        <div class="col-xs-12">
            <table class="table">
                <thead>
                    <th>Candidate</th>
                    <th class="visible-xs">Cash on hand</th>
                    <th>Funds raised</th>
                <tbody>
                    <td class="no-wrap col-sm-4">
                        <!-- Start with this candidate -->
                        <p>
                            <strong>{{ candidate.full_name }}</strong>
                            {% if latest_campaign.party_identifier %}
                                <small>
                                    <span class="party-identifier {{ latest_campaign.party_identifier }}">
                                        ({{ latest_campaign.party_identifier }})
                                    </span>
                                </small>
                            {% endif %}
                            {% if campaign.is_winner %}
                                <i class="fa fa-fw fa-check-circle green"></i>
                            {% endif %}
                        </p>
                        <!-- Display the rest of the candidates -->
                        {% for campaign in latest_race.sorted_campaigns %}
                            {% if campaign.candidate != candidate %}
                            <p>
                                {{ campaign.candidate.full_name }}
                                {% if campaign.party_identifier %}
                                    <small>
                                        <span class="party-identifier {{ campaign.party_identifier }}">
                                            ({{ campaign.party_identifier }})
                                        </span>
                                    </small>
                                {% endif %}
                                {% if campaign.is_winner %}
                                    <i class="fa fa-fw fa-check-circle green"></i>
                                {% endif %}
                            </p>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td class="visible-xs">
                        <!-- Start with this candidate -->
                        <p>
                            {{ latest_campaign.cash_on_hand | format_money_short }}
                        </p>
                        <!-- Other candidates -->
                        {% for campaign in latest_race.sorted_campaigns %}
                            {% if campaign.candidate != candidate %}
                            <p>
                                {{ campaign.cash_on_hand | format_money_short }}
                            </p>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td class="no-wrap col-sm-8">
                        <!-- Large sizes: show bar charts -->
                        <div class="hidden-xs">
                            <!-- Start with this candidate -->
                            {% with campaign=latest_campaign last_year=latest_race.funding_period total=latest_race.largest_contribution %}
                                {% include 'camp_fin/widgets/funding-distribution.html' %}
                            {% endwith %}
                            <!-- Display the rest of the candidates -->
                            {% for campaign in latest_race.sorted_campaigns %}
                                {% if campaign.candidate != candidate %}
                                    {% with total=latest_race.largest_contribution last_year=latest_race.funding_period %}
                                        {% include 'camp_fin/widgets/funding-distribution.html' %}
                                    {% endwith %}
                                {% endif %}
                            {% endfor %}
                        </div>
                        <!-- Small sizes: show text cash amounts -->
                        <div class="visible-xs">
                            <!--This candidate -->
                            <p>
                                {% funds_raised latest_campaign latest_race.funding_period short=True %}
                            </p>
                            <!-- The rest of the candidates -->
                            {% for campaign in latest_race.sorted_campaigns %}
                                <p>
                                    {% if campaign.candidate != candidate %}
                                        {% funds_raised campaign latest_race.funding_period short=True %}
                                    {% endif %}
                                </p>
                            {% endfor %}
                        </div>
                    </td>
                </tbody>
            </table>
        </div>
    </div>
    <h3><i class="fa fa-fw fa-history"></i> Past campaigns</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Office (Party)</th>
                <th>Committee</th>
                <th>Election year</th>
            </tr>
        </thead>
        <tbody>
            {% for campaign in candidate.campaign_set.all %}
                <tr>
                    <td>{{ campaign.office.description }} ({{ campaign.political_party }})</td>
                    <td>{{ campaign.committee_name|default_if_none:"" }}</td>
                    <td>{{ campaign.election_season.year }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block js_templates %}
    <script type="text/EJS" id="top-money-table-guts">
        <table class="table table-striped">
            <thead>
                <tr>
                    <% if(transaction_type == 'top-donors'){ %>
                        <th>Donor</th>
                        <th>Total donated</th>
                    <% } else { %>
                        <th>Recipient</th>
                        <th>Total received</th>
                    <% } %>
                    <th>Election year</th>
                </tr>
            </thead>
            <tbody>
                <% $.each(transactions, function(i, transaction){ %>
                    <% if (transaction.company_name && transaction.company_name != 'N/A'){ %>
                        <% var full_name = transaction.company_name %>
                    <% } else { %>
                        <% var full_name = getPersonName(transaction) %>
                    <% }%>
                    <tr>
                        <td>
                            <a href='/search/?term=<%=  encodeURIComponent(full_name.replace("\'", "")) %>'>
                                <%= full_name %>
                            </a>
                        </td>
                        <td class='nowrap'>
                            <%= accounting.formatMoney(transaction.amount) %>
                        </td>
                        <td><%= transaction.year %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </script>
{% endblock %}
