{% extends 'base-detail.html' %}
{% load helpers %}
{% load staticfiles %}
{% block title %}{{ candidate.full_name }}{% endblock %}

{% block header %}
    <p><a href='/candidates'>&laquo; Candidates</a></p>
    <h1>{{ candidate.full_name }}</h1>
{% endblock %}

{% block charts %}
    <h3>Net funds over time</h3>
    <div id='net-funds-chart'></div>

    <h3>Donations and expenditure rates over time</h3>
    <div id='expend-chart'></div>

{% endblock %}

{% block contact %}
    <div class="col-sm-5 col-sm-offset-1">
        <div class="well">
            <h4>Contact information</h4>
            <table class="table table-condensed">
                <tbody>
                    <tr>
                        <td>
                            Phone
                        </td>
                        <td>{{ candidate.contact.phone|default:candidate.business_phone|default:candidate.home_phone }}</td>
                    </tr>
                    <tr>
                        <td>
                            Email
                        </td>
                        <td>
                            <a href="mailto:{{ candidate.contact.email|default:candidate.email }}">
                                {{ candidate.contact.email|default:candidate.email }}
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Address
                        </td>
                        <td>
                            {{ candidate.contact.address|default:candidate.address }}
                        </td>
                    </tr>
                    {% if candidate.contact.occupation %}
                        <tr>
                            <td>
                                Occupation
                            </td>
                            <td>
                                {{ candidate.contact.occupation }}
                            </td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
            <h4>Treasurer <small>{{ latest_filing.campaign.committee_name|default:""}}</small></h4>
            {% with treasurer=latest_filing.campaign.treasurer %}
            <table class="table table-condensed">
                <tbody>
                    {% if treasurer.full_name %}
                    <tr>
                        <td>
                            Name
                        </td>
                        <td>
                            <a href="{% url 'search' %}?term={{ treasurer.full_name }}">
                                {{ treasurer.full_name}}
                            </a>
                        </td>
                    </tr>
                    {% endif %}
                    {% if treasurer.business_phone %}
                    <tr>
                        <td>
                            Phone
                        </td>
                        <td>{{ treasurer.business_phone }}</td>
                    </tr>
                    {% endif %}
                    {% if treasurer.alt_phone %}
                    <tr>
                        <td>
                            Alternantive Phone
                        </td>
                        <td>{{ treasurer.alt_phone }}</td>
                    </tr>
                    {% endif %}
                    {% if treasurer.email %}
                    <tr>
                        <td>
                            Email
                        </td>
                        <td>
                            <a href="mailto:{{ treasurer.email }}">
                                {{ treasurer.email }}
                            </a>
                        </td>
                    </tr>
                    {% endif %}
                    {% if treasurer.address %}
                    <tr>
                        <td>
                            Address
                        </td>
                        <td>
                            {{ treasurer.address }}
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
            {% endwith %}
        </div>
    </div>
{% endblock %}

{% block campaigns %}
    <div class="row">
        <div class="col-md-12">
            <h3>Campaigns</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Office (Party)</th>
                        <th>Committee</th>
                        <th>Election year</th>
                    </tr>
                </thead>
                <tbody>
                    {% for campaign in candidate.campaign_set.all %}
                        <tr>
                            <td>{{ campaign.office.description }} ({{ campaign.political_party }})</td>
                            <td>{{ campaign.committee_name|default_if_none:"" }}</td>
                            <td>{{ campaign.election_season.year }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block js_templates %}
    <script type="text/EJS" id="top-money-table-guts">
        <table class="table table-striped">
            <thead>
                <tr>
                    <% if(transaction_type == 'top-donors'){ %>
                        <th>Donor</th>
                        <th>Total donated</th>
                    <% } else { %>
                        <th>Recipient</th>
                        <th>Total received</th>
                    <% } %>
                    <th>Election year</th>
                </tr>
            </thead>
            <tbody>
                <% $.each(transactions, function(i, transaction){ %>
                    <% if (transaction.company_name && transaction.company_name != 'N/A'){ %>
                        <% var full_name = transaction.company_name %>
                    <% } else { %>
                        <% var full_name = getPersonName(transaction) %>
                    <% }%>
                    <tr>
                        <td>
                            <a href='/search/?term=<%= full_name %>'>
                                <%= full_name %>
                            </a>
                        </td>
                        <td class='nowrap'>
                            <%= accounting.formatMoney(transaction.amount) %>
                        </td>
                        <td><%= transaction.year %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </script>
{% endblock %}
