{% extends 'base-detail.html' %}
{% load helpers %}
{% load staticfiles %}
{% block title %}{{ pac.name }}{% endblock %}

{% block header %}
    <p><a href='/committees'>&laquo; Committees</a></p>
    <h1>{{ pac.name }}</h1>
    {% if sos_link %}
        <p><a href="{{sos_link}}" target="_blank">View on the New Mexico Secretary of State's website &raquo;</a></p>
    {% endif %}
{% endblock %}
{% block charts %}
    <h3>Net funds over time</h3>
    <div id='net-funds-chart'></div>

    <h3>Donations and expenditures over time</h3>
    <div id='expend-chart'></div>
{% endblock %}

{% block js_templates %}
    <script type="text/EJS" id="top-money-table-guts">
        <table class="table table-striped">
            <thead>
                <tr>
                    <% if(transaction_type == 'top-donors'){ %>
                        <th>Donor</th>
                        <th>Latest date</th>
                        <th class='text-right'>Total donated</th>
                    <% } else { %>
                        <th>Recipient</th>
                        <th>Latest donation date</th>
                        <th class='text-right'>Total received</th>
                    <% } %>
                </tr>
            </thead>
            <tbody>
                <% $.each(transactions, function(i, transaction){ %>
                    <% if (transaction.company_name && transaction.company_name != 'N/A'){ %>
                        <% var full_name = transaction.company_name %>
                    <% } else { %>
                        <% var full_name = getPersonName(transaction) %>
                    <% }%>
                    <tr>
                        <td>
                            <a href='/search/?term=<%= encodeURIComponent(full_name.replace("\'", "")) %>'>
                                <%= full_name %>
                            </a>
                        </td>
                        <td class='nowrap'>
                            <%= moment(transaction.latest_date).format('MMM DD, YYYY') %>
                        </td>
                        <td class='text-right nowrap'>
                            <%= accounting.formatMoney(transaction.amount) %>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </script>
{% endblock %}
