{% extends 'base-detail.html' %}
{% load helpers %}
{% load staticfiles %}
{% block title %}{{ pac.name }}{% endblock %}

{% block header %}
    <p><a href='/committees'>&laquo; Committees</a></p>
    <h1>{{ pac.name }}</h1>
{% endblock %}
{% block charts %}
    <h3>Net funds over time</h3>
    <div id='net-funds-chart'></div>

    <h3>Donations and expenditures over time</h3>
    <div id='expend-chart'></div>
{% endblock %}

{% block contact %}
    <div class="well">
        <h4>Contact information</h4>
        <table class="table table-condensed">
            <tbody>
                <tr>
                    <td>
                        Phone
                    </td>
                    <td>{{ pac.contact.phone|default:pac.business_phone|default:pac.home_phone }}</td>
                </tr>
                <tr>
                    <td>
                        Email
                    </td>
                    <td>
                        <a href="mailto:{{ pac.contact.email|default:pac.email }}">
                            {{ pac.contact.email|default:pac.email }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        Address
                    </td>
                    <td>
                        {{ pac.contact.address|default:pac.address }}
                    </td>
                </tr>
                {% if pac.contact.occupation %}
                    <tr>
                        <td>
                            Occupation
                        </td>
                        <td>
                            {{ pac.contact.occupation }}
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
        <h4>Treasurer</h4>
        <table class="table table-condensed">
            <tbody>
                {% if pac.treasurer.full_name %}
                <tr>
                    <td>
                        Name
                    </td>
                    <td>
                        <a href="{% url 'search' %}?term={{ pac.treasurer.full_name }}">
                            {{ pac.treasurer.full_name}}
                        </a>
                    </td>
                </tr>
                {% endif %}
                {% if pac.treasurer.business_phone %}
                <tr>
                    <td>
                        Phone
                    </td>
                    <td>{{ pac.treasurer.business_phone }}</td>
                </tr>
                {% endif %}
                {% if pac.treasurer.alt_phone %}
                <tr>
                    <td>
                        Alternantive Phone
                    </td>
                    <td>{{ pac.treasurer.alt_phone }}</td>
                </tr>
                {% endif %}
                {% if pac.treasurer.email %}
                <tr>
                    <td>
                        Email
                    </td>
                    <td>
                        <a href="mailto:{{ pac.treasurer.email }}">
                            {{ pac.treasurer.email }}
                        </a>
                    </td>
                </tr>
                {% endif %}
                {% if pac.treasurer.address %}
                <tr>
                    <td>
                        Address
                    </td>
                    <td>
                        {{ pac.treasurer.address }}
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
        <p><a href="{{ sos_link }}" target="_blank">View on Secretary of State's website</a></p>
    </div>
{% endblock %}
{% block js_templates %}
    <script type="text/EJS" id="top-money-table-guts">
        <table class="table table-striped">
            <thead>
                <tr>
                    <% if(transaction_type == 'top-donors'){ %>
                        <th>Donor</th>
                        <th>Latest date</th>
                        <th class='text-right'>Total donated</th>
                    <% } else { %>
                        <th>Recipient</th>
                        <th>Latest donation date</th>
                        <th class='text-right'>Total received</th>
                    <% } %>
                </tr>
            </thead>
            <tbody>
                <% $.each(transactions, function(i, transaction){ %>
                    <% if (transaction.company_name && transaction.company_name != 'N/A'){ %>
                        <% var full_name = transaction.company_name %>
                    <% } else { %>
                        <% var full_name = getPersonName(transaction) %>
                    <% }%>
                    <tr>
                        <td>
                            <a href='/search/?term=<%= full_name %>'>
                                <%= full_name %>
                            </a>
                        </td>
                        <td class='nowrap'>
                            <%= moment(transaction.latest_date).format('MMM DD, YYYY') %>
                        </td>
                        <td class='text-right nowrap'>
                            <%= accounting.formatMoney(transaction.amount) %>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </script>
{% endblock %}
