{% extends 'base-detail.html' %}
{% load helpers %}
{% load staticfiles %}
{% block title %}{{ pac.name }}{% endblock %}

{% block header %}
  <div class="row">
    <div class="col-xs-12">
      <p><a href='/committees'>&laquo; Committees</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>
        <i class="fa fa-fw fa-users"></i>
        {{ pac.name }}
      </h1>
      {% if pac.sos_link %}
        <p><a href="{{pac.sos_link}}" target="_blank">View on the New Mexico Secretary of State's website &raquo;</a></p>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <a href="{% url 'bulk-contributions-list' %}?pac_id={{ pac.id }}" class="btn btn-default"
        id="contributions-download">
        <i class="fa fa-fw fa-download"></i>
        Download contributions
      </a>
      <a href="{% url 'bulk-expenditures-list' %}?pac_id={{ pac.id }}" class="btn btn-default"
        id="expenditures-download">
        <i class="fa fa-fw fa-download"></i>
        Download expenditures
      </a>
    </div>
  </div>
{% endblock %}
{% block charts %}
  <h3>Net funds over time</h3>
  <div id='net-funds-chart'></div>

  <h3>Donations and expenditures over time</h3>
  <div id='expend-chart'></div>
{% endblock %}

{% block js_templates %}
  <script type="text/EJS" id="top-money-table-guts">
    <table class="table table-striped">
    <thead>
    <tr>
    <% if(transaction_type == 'top-donors'){ %>
      <th>Donor</th>
      <th>Latest date</th>
      <th class='text-right'>Total donated</th>
      <% } else { %>
        <th>Recipient</th>
        <th>Latest donation date</th>
        <th class='text-right'>Total received</th>
        <% } %>
    </tr>
    </thead>
    <tbody>
    <% $.each(transactions, function(i, transaction){ %>
      <tr>
      <td>
      <% if (transaction.redact) { %>
        <%= transaction.display_name %>
        <% } else { %>
          <a href='/search/?term=<%= encodeURIComponent(transaction.display_name.replace("\'", "")) %>'>
      <%= transaction.display_name %>
      </a>
      <% } %>
    </td>
    <td class='nowrap'>
    <%= moment(transaction.latest_date).format('MMM DD, YYYY') %>
    </td>
    <td class='text-right nowrap'>
    <%= accounting.formatMoney(transaction.amount) %>
    </td>
    </tr>
    <% }) %>
    </tbody>
    </table>
  </script>
{% endblock %}
