{% extends 'base.html' %}
{% load bootstrap_pagination %}
{% load helpers %}
{% block title %}Committees{% endblock %}
{% block full_content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <h1><i class='fa fa-fw fa-group'></i> Committees</h1>

            <table class="table table-striped" id="committee-list">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>
                            <a href="{% url 'committee-list' %}?{% query_transform request order_by='name' sort_order=toggle_order %}">
                                Committee
                            </a>
                            {% if order_by == 'name' %}
                                {{ sort_order|get_sort_icon|safe }}
                            {% endif %}
                        </th>
                        <th class='hidden-sm hidden-xs'>
                            <a href="{% url 'committee-list' %}?{% query_transform request order_by='filing_date' sort_order=toggle_order %}">
                                Latest report
                            </a>
                            {% if order_by == 'filing_date' %}
                                {{ sort_order|get_sort_icon|safe }}
                            {% endif %}
                        </th>
                        <th class='text-right'>
                            <a href="{% url 'committee-list' %}?{% query_transform request order_by='closing_balance' sort_order=toggle_order %}">
                                Current balance
                            </a>
                            {% if order_by == 'closing_balance' %}
                                {{ sort_order|get_sort_icon|safe }}
                            {% endif %}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for committee in object_list %}
                        <tr>
                            <td>{{ committee.rank }}</td>
                            <td>
                                <a href="{% url 'committee-detail' committee.slug %}">
                                    {{ committee.name }}
                                </a>
                            </td>
                            <td class='hidden-sm hidden-xs'>{{ committee.filing_date | date:'M j, Y'}}</td>
                            <td class='text-right'>
                                <span class='hidden-sm hidden-xs'>{{ committee.closing_balance|format_money }}</span>
                                <span class='visible-sm-block visible-xs-block'>{{ committee.closing_balance|format_money_short }}</span>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% bootstrap_paginate object_list range=10 %}
        </div>
    </div>
</div>

{% endblock %}

