{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap_pagination %}
{% load humanize %}
{% load helpers %}

{% block full_content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <p style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;margin-top:15px">
            <a href="{% url 'lobbyist-list' %}">&laquo; View all lobbyists</a>
            </p>
            <h1>
                <i class="fa fa-fw fa-user"></i>
                {{ lobbyist.full_name }}
                <small>Lobbyist</small>
            </h1>
            {% if sos_link %}
                <p><a href="{{sos_link}}" target="_blank">View on the New Mexico Secretary of State's website &raquo;</a></p>
            {% endif %}
        </div>
    </div>
    {% if lobbyist.employers %}
        <div class="row">
            <div class="col-xs-12">
                <h2>
                    <i class="fa fa-fw fa-users"></i>
                    Employers
                </h2>
                <table class="table table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>Organization</th>
                            <th>Years employed</th>
                            <th class="text-right">Total contributions</th>
                            <th class="text-right">Total expenditures</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for employer in lobbyist.employers %}
                            <tr>
                                <td>
                                    <a href="{% url 'organization-detail' employer.organization.slug %}">
                                        {{ employer.organization.name }}
                                    </a>
                                </td>
                                <td>{{ employer.years|format_years }}</td>
                                <td class="text-right">
                                    <span class="hidden-sm hidden-xs">
                                        {% lobbyist_contributions lobbyist employer.organization.id %}
                                    </span>
                                    <span class="visible-sm-block visible-xs-block">
                                        {% lobbyist_contributions lobbyist employer.organization.id  short=True %}
                                    </span>
                                </td>
                                <td class="text-right">
                                    <span class="hidden-sm hidden-xs">
                                        {% lobbyist_expenditures lobbyist employer.organization.id %}
                                    </span>
                                    <span class="visible-sm-block visible-xs-block">
                                        {% lobbyist_expenditures lobbyist employer.organization.id short=True %}
                                    </span>
                                </td>
                            </tr>
                        {% endfor %}
                        {% if lobbyist.employers|length > 1 %}
                            <tr>
                                <td><strong>Total</strong></td>
                                <td>{{ lobbyist.years_active }}</td>
                                <td class="text-right">
                                    <span class="hidden-sm hidden-xs">{{ lobbyist.total_contributions|format_money }}</span>
                                    <span class="visible-sm-block visible-xs-block">{{ lobbyist.total_contributions|format_money_short }}</span>
                                </td>
                                <td class="text-right">
                                    <span class="hidden-sm hidden-xs">{{ lobbyist.total_expenditures|format_money }}</span>
                                    <span class="visible-sm-block visible-xs-block">{{ lobbyist.total_expenditures|format_money_short }}</span>
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block extra_js %}
{% endblock %}
