{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap_pagination %}
{% load humanize %}
{% load helpers %}

{% block title %}
    {{ object }}
{% endblock %}

{% block full_content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1><i class='fa fa-fw fa-check-square-o'></i>
                {{ object }}
            </h1>
            <br />
            <p class="total-fund-count">
                Total funds raised in this race: <strong>{{ race.total_funds | format_money}}</strong>
            </p>
            {% if page.text %}
                {{ page.text|safe }}
            {% endif %}
            <hr />
        </div>
    </div>
    <div class="row">
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th>Candidate</th>
                    {% if race.funding_period %}
                        <th>Funds raised since {{ race.funding_period }}</th>
                    {% else %}
                        <th>Funds raised</th>
                    {% endif %}
                    <th>Money spent</th>
                    <th>Cash on hand</th>
                </tr>
            </thead>
            <tbody>
            {% for campaign in race.sorted_campaigns %}
                <tr>
                    <td>
                        <a href="{% url 'candidate-detail' slug=campaign.candidate.slug %}">
                            {{ campaign.candidate.full_name }}
                        </a>
                        {% if campaign.party_identifier %}
                            <small>
                                <span class="party-identifier {{ campaign.party_identifier }}">
                                    ({{ campaign.party_identifier }})
                                </span>
                            </small>
                        {% endif %}
                        {% if campaign.is_winner %}
                            <i class="fa fa-fw fa-check-circle green"></i>
                        {% endif %}
                    </td>
                    <td>
                        <span class='hidden-xs'>
                            {% with last_year=race.funding_period %}
                                {% include 'camp_fin/widgets/funding-distribution.html' %}
                            {% endwith %}
                        </span>
                        <span class="visible-xs-block">
                            {% funds_raised campaign race.funding_period short=True %}
                    </td>
                    <td>
                        <span class='hidden-xs'>
                            {% expenditures campaign race.funding_period %}
                        </span>
                        <span class="visible-xs-block">
                            {% expenditures campaign race.funding_period short=True %}
                        </span>
                    </td>
                    <td>
                        <span class='hidden-xs'>
                            {{ campaign.cash_on_hand | format_money }}
                        </span>
                        <span class="visible-xs-block">
                            {{ campaign.cash_on_hand | format_money_short }}
                        </span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block extra_js %}
{% endblock %}
