{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap_pagination %}
{% load humanize %}
{% load helpers %}

{% block title %}{{ year }} Races{% endblock %}

{% block full_content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1><i class='fa fa-fw fa-check-square-o'></i>{{ year }} Races</h1>
            <div class="btn btn-group" role="group" aria-label="Race types">
                {% for race_type in race_types %}
                    <a href="{% url 'races' %}?type={{ race_type.id }}"
                       role="button"
                       class="btn btn-default {% if type == race_type.id %}active{% else %}inactive{% endif %}">
                            {{ race_type.description }}
                    </a>
                {% endfor %}
            </div>
            {% if page.text %}
                {{ page.text|safe }}
            {% else %}
                <br/>
            {% endif %}
            {% with races=object_list %}
                {% include 'camp_fin/widgets/races_list.html' %}
            {% endwith %}
        </div>
    </div>
    {% if object_list.paginator.num_pages > 1 %}
    <div class="row">
        <div class="col-xs-12 text-center">
            <nav aria-label="pagination">
                <ul class="pagination">
                {% if object_list.has_previous %}
                    <li>
                        <a href="{% url 'races' %}?{% query_transform request page=object_list.previous_page_number %}"
                           aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}
                {% for page in object_list.paginator.page_range %}
                    <li {% if object_list.number == page %}class="active"{% endif %}>
                        <a href="{% url 'races' %}?{% query_transform request page=page %}">
                            {{ page }}
                        </a>
                    </li>
                {% endfor %}
                {% if object_list.has_next %}
                    <li>
                        <a href="{% url 'races' %}?{% query_transform request page=object_list.next_page_number %}"
                           aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}

{% block extra_js %}
{% endblock %}
