{% extends 'base.html' %}
{% load staticfiles %}
{% load helpers %}
{% load explainer %}

{% block title %}Search{% endblock %}

{% block full_content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <br />
            <div class='jumbotron'>
                <form method='GET'>
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control" placeholder="Search for names of candidates, committees, donors, and lobbyists in New Mexico" id="term" name="term" {% if term %}value="{{term}}"{% endif %}>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class='fa fa-search'></i> <span class='hidden-sm hidden-xs'>Search</span></button>
                        </span>
                    </div>
                    <div class="form-group" id='filter-results'>
                        <br />
                        <strong>Search for:</strong>
                        <label data-title='Candidates' data-content='Any person who seeks nomination for election, election to, or retention in public office'>
                            <input type="checkbox" name="table_name" value="candidate" {% if 'candidate' in table_name %}checked='checked'{% endif %}> Candidates
                        </label>
                        <label data-title='Committees' data-content='Includes committees for political candidates, political parties, political action committees (PACs), and ballot initiatives'>
                            <input type="checkbox" name="table_name" value="pac" {% if 'pac' in table_name %}checked='checked'{% endif %}> Committees
                        </label>
                        <label data-title='Donations' data-content='Any person or organization who has given to a political committee'>
                            <input type="checkbox" name="table_name" value="contribution" {% if 'contribution' in table_name %}checked='checked'{% endif %}> Donations to committees
                        </label>
                        <label data-title='Expenditures' data-content='Any person or organization who was given money by a political committee'>
                            <input type="checkbox" name="table_name" value="expenditure" {% if 'expenditure' in table_name %}checked='checked'{% endif %}> Expenditures by committees
                        </label>
                        <label data-title='Lobbyists' data-content='Any person who has registered as a lobbyist'>
                            <input type="checkbox" name="table_name" value="lobbyist" {% if 'lobbyist' in table_name %}checked='checked'{% endif %}> Lobbyists
                        </label>
                        <label data-title='Lobbyist employers' data-content='Any organization that has paid registered lobbyists'>
                            <input type="checkbox" name="table_name" value="organization" {% if 'organization' in table_name %}checked='checked'{% endif %}> Lobbyist employers
                        </label>
                        <label data-title='Lobbyist spending' data-content='Spending that lobbyists have reported'>
                            <input type="checkbox" name="table_name" value="lobbyisttransaction" {% if 'lobbyisttransaction' in table_name %}checked='checked'{% endif %}> Lobbyist spending
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="no-search" class="col-md-12">
            <p class='lead text-center'><i class='fa fa-hand-pointer-o'></i> Search for names of candidates, committees and donors in the box above</p><br /><br /><br /><br /><br /><br /><br /><br />

        </div>

        <div id="download-results" class="col-md-12" style="display:none;">
            <a href="/api/search/?{% query_transform request format='csv' limit='1000000' %}" class="btn btn-default">
                <i class='fa fa-download'></i>
                Download as a spreadsheet
            </a>
        </div>
        <div id="candidate-search-results" class="col-md-12" style="display:none;">
            <h3>Candidates <small></small></h3>
            <table class="table table-hover datatable-table" id="candidate-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Office</th>
                        <th class='hidden-xs hidden-sm'>Committee name</th>
                        <th class='hidden-xs hidden-sm'>Last election year</th>
                    </tr>
                </thead>
            </table>
            <hr />
        </div>
        <div id="pac-search-results" class="col-md-12" style="display:none;">
            <h3>PACs <small></small></h3>
            <table class="table table-hover datatable-table" id="pac-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody>
            </table>
            <hr />
        </div>
        <div id="contribution-search-results" class="col-md-12" style="display:none;">
            <h3>Contributions <small></small></h3>
            <table class="table table-hover datatable-table" id="contribution-table">
                <thead>
                    <tr>
                        <th>Donor name</th>
                        <th class="hidden-xs hidden-sm">Donor address</th>
                        <th>Recipient name</th>
                        <th class='hidden-xs hidden-sm'>Date</th>
                        <th>Amount</th>
                        <th class='hidden-xs hidden-sm'>
                            Donor occupation
                            {% explainer "Individuals and organizations donating more than $250 must disclose their occupation." %}
                        </th>
                    </tr>
                </thead>
                <tbody>
            </table>
            <hr />
        </div>
        <div id="expenditure-search-results" class="col-md-12" style="display:none;">
            <h3>Expenditures <small></small></h3>
            <table class="table table-hover datatable-table" id="expenditure-table">
                <thead>
                    <tr>
                        <th>Expense name</th>
                        <th>Spender name</th>
                        <th class='hidden-xs hidden-sm'>Date</th>
                        <th>Amount</th>
                        <th class='hidden-xs hidden-sm'>Description</th>
                    </tr>
                </thead>
                <tbody>
            </table>
            <hr />
        </div>
        <div id="lobbyist-search-results" class="col-md-12" style="display:none;">
            <h3>Lobbyists <small></small></h3>
            <table class="table table-hover datatable-table" id="lobbyist-table">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
            </table>
            <hr />
        </div>
        <div id="organization-search-results" class="col-md-12" style="display:none;">
            <h3>Lobbyist employers <small></small></h3>
            <table class="table table-hover datatable-table" id="organization-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody>
            </table>
            <hr />
        </div>
        <div id="lobbyisttransaction-search-results" class="col-md-12" style="display:none;">
            <h3>Lobbyist spending <small></small></h3>
            <table class="table table-hover datatable-table" id="lobbyisttransaction-table">
                <thead>
                    <tr>
                        <th>Lobbyist</th>
                        <th>Type</th>
                        <th>Paid to</th>
                        <th>Amount</th>
                        <th>Beneficiary</th>
                        <th>Description</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
            </table>
            <hr />
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/jquery.dataTables.sorting.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap.js' %}"></script>
<script src="{% static 'js/URI.min.js' %}"></script>
<script src="{% static 'js/ejs_production.js' %}"></script>
<script src="{% static 'js/accounting.min.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script type="text/javascript">
    function do_query(query){

        var term = query['term'];
        var table_names = [];

        if(typeof query.table_name === 'string'){
            table_names = [query.table_name];
        } else if (typeof query.table_name === 'undefined'){
            table_names = ['pac', 'contribution', 'expenditure', 'candidate', 'lobbyist', 'organization', 'lobbyisttransaction'];
        } else {
            table_names = query.table_name;
        }

        if (term != '') {

            if(table_names.indexOf('pac') >= 0){
                var columns = [
                    {
                        'data': 'name',
                        'render': function(data, type, full, meta){
                            return '<a href="/committees/' + full['slug'] + '/">' + full['name'] + '</a>';
                        }
                    },
                    {
                        'data': 'address'
                    }
                ];
                init_datatable(term, 'pac', columns)
            }

            if(table_names.indexOf('candidate') >= 0){
                var columns = [
                    {
                        'data': 'full_name',
                        'render': function(data, type, full, meta){
                            return full['party_name']
                                ? '<a href="/candidates/' + full['slug'] + '/">' + full['full_name'] + '</a>' + ' (' + full['party_name'].charAt(0) + ')'
                                : '<a href="/candidates/' + full['slug'] + '/">' + full['full_name'] + '</a>';
                        }
                    },
                    {
                        'data': 'office_name',
                        'render': function(data, type, full, meta){
                            if (!full['office_name']) {
                                return ''
                            } else {
                                var name = full['office_name'];
                                if (full['county_name'] != '' && full['county_name'] != 'ALL'){
                                    name += ' ' + full['county_name'] + ' County';
                                }
                                if (full['district_name']){
                                    name += ' ' + full['district_name'];
                                }
                                if (full['division_name']){
                                    name += ' ' + full['division_name'];
                                }
                                return name;
                            }
                        }
                    },
                    {
                        'data': 'committee_name',
                        'className': 'hidden-xs hidden-sm'
                    },
                    {
                        'data': 'election_year',
                        'className': 'hidden-xs hidden-sm'
                    }
                ];
                init_datatable(term, 'candidate', columns)
            }

            if(table_names.indexOf('expenditure') >= 0){
                var columns = [
                    {
                        'data': 'full_name'
                    },
                    {
                        'data': 'transaction_subject',
                        'render': function(data, type, full, meta){
                            if(full['pac_slug']){
                                return '<a href="/committees/' + full['pac_slug'] + '/">' + full['transaction_subject'] + '</a>';
                            } else {
                                return '<a href="/candidates/' + full['candidate_slug'] + '/">' + full['transaction_subject'] + '</a>';
                            }
                        }
                    },
                    {
                        'data': 'received_date',
                        'render': function(data, type, full, meta){
                            return moment(data).format('MMM DD, YYYY');
                        },
                        'className': 'hidden-xs hidden-sm'
                    },
                    {
                        'data': 'amount',
                        'render': function(data, type, full, meta){
                            return '<a href="/expenditures/' + full['id'] + '/">' + accounting.formatMoney(data) + '</a>';
                        }
                    },
                    {
                        'data': 'description',
                        'className': 'hidden-xs hidden-sm'
                    }
                ];
                var order = [[2, 'desc']];
                init_datatable(term, 'expenditure', columns, order)
            }

            if(table_names.indexOf('contribution') >= 0){
                var columns = [
                    {
                        'data': 'full_name',
                    },
                    {
                        'data': 'full_address',
                        'render': function(data, type, full, meta){
                            return full['address']
                                ? full['full_address']
                                : 'Not provided';
                        },
                        'className': 'hidden-xs hidden-sm'
                    },
                    {
                        'data': 'transaction_subject',
                        'render': function(data, type, full, meta){
                            if(full['pac_slug']){
                                return '<a href="/committees/' + full['pac_slug'] + '/">' + full['transaction_subject'] + '</a>';
                            } else {
                                return '<a href="/candidates/' + full['candidate_slug'] + '/">' + full['transaction_subject'] + '</a>';
                            }
                        }
                    },
                    {
                        'data': 'received_date',
                        'render': function(data, type, full, meta){
                            return moment(data).format('MMM DD, YYYY');
                        },
                        'className': 'hidden-xs hidden-sm'
                    },
                    {
                        'data': 'amount',
                        'render': function(data, type, full, meta){
                            return '<a href="/contributions/' + full['id'] + '/">' + accounting.formatMoney(data) + '</a>';
                        }
                    },
                    {
                        'data': 'donor_occupation',
                        'className': 'hidden-xs hidden-sm'
                    }
                ];
                var order = [[2, 'desc']];
                init_datatable(term, 'contribution', columns, order)
            }

            if(table_names.indexOf('treasurer') >= 0){
                var columns = [
                    {
                        'data': 'full_name'
                    },
                    {
                        'data': 'related_entity_name',
                        'render': function(data, type, full, meta){
                            return '<a href="' + full['related_entity_url'] + '">' + full['related_entity_name'] + '</a>';
                        }
                    }
                ];
                init_datatable(term, 'treasurer', columns)
            }

            if (table_names.indexOf('lobbyist') >= 0) {
                var columns = [
                    {
                        'data': 'name',
                        'render': function(data, type, full, meta) {
                            return '<a href="/lobbyists/' + full['slug'] + '">' + full['name'] + '</a>';
                        }
                    },
                ];
                init_datatable(term, 'lobbyist', columns)
            }

            if (table_names.indexOf('organization') >= 0) {
                var columns = [
                    {
                        'data': 'name',
                        'render': function(data, type, full, meta) {
                            return '<a href="/organizations/' + full['slug'] + '">' + full['name'] + '</a>';
                        }
                    },
                    {
                        'data': 'address'
                    }
                ];
                init_datatable(term, 'organization', columns)
            }
            if (table_names.indexOf('lobbyisttransaction') >= 0) {
                var columns = [
                    {
                        'data': 'lobbyist_name',
                        'render': function(data, type, full, meta) {
                            return '<a href="/lobbyists/' + full['lobbyist_slug'] + '">' + full['lobbyist_name'] + '</a>';
                        }
                    },
                    {
                        'data': 'transaction_type'
                    },
                    {
                        'data': 'name',
                        'render': function(data, type, full, meta){
                            return '<a href="/search/?term=' + data + '&table_name=candidate&table_name=pac&table_name=organization">' + data + '</a>';
                        }
                    },
                    {
                        'data': 'amount',
                        'render': function(data, type, full, meta){
                            return accounting.formatMoney(data);
                        }
                    },
                    {
                        'data': 'beneficiary'
                    },
                    {
                        'data': 'expenditure_purpose'
                    },
                    {
                        'data': 'received_date',
                        'render': function(data, type, full, meta){
                            return moment(data).format('MMM DD, YYYY');
                        },
                    },
                ];
                var order = [[6, 'desc']];
                init_datatable(term, 'lobbyisttransaction', columns, order)
            }
        }
    }

    function init_datatable(term, table_name, columns, order){
        if (typeof order === 'undefined'){
            var order = [[0, 'asc']]
        }

        $('#no-search').hide();
        $('#download-results').show();
        $('#' + table_name + '-search-results').show();

        var params = {
            'term': term,
            'table_name': table_name,
        };

        params = $.param(params);

        var opts = {
            "info": false,
            "searching": false,
            "ordering": true,
            "bLengthChange": false,
            "processing": true,
            "paging": true,
            "pageLength": 10,
            "serverSide": true,
            "ajax": {
                "url": "/api/search/?" + params,
                "dataSrc": table_name + '.objects'
            },
            "columns": columns,
            "language": {
                'paginate': {
                    'first': '&laquo;',
                    'last': '&raquo;',
                    'previous': '&lt;',
                    'next': '&gt;'
                },
                'zeroRecords': 'No results found',
                'processing': "<h1><i class='fa fa-spin fa-circle-o-notch'></i></h1>"
            },
            "initComplete": function(settings, data){
                var meta = data[table_name]['meta'];
                if(meta.total_rows == 0){
                    $('#' + table_name + '-search-results').hide();
                }
                else {
                    $('#' + table_name + '-search-results h3 small').html(meta.total_rows + " found");
                    $('#download-results').show();
                }
            },
            "drawCallback": function(settings){
                var display_count = parseInt(settings._iDisplayLength);
                var record_count = parseInt(settings['json'][table_name]['meta']['total_rows']);
                if (record_count <= display_count){
                    $('#' + table_name + '-table_paginate').hide();
                }
            },
            "order": order
        }
        var table = $('#' + table_name + '-table').DataTable(opts);
    }

    $(document).ready(function(){
        var query = URI(window.location.search).query(true)

        if (typeof query.table_name === 'undefined')
            $(':checkbox').prop("checked", "checked");

        {% if term != None %}
            do_query(query);
        {% endif %}
    })

</script>
{% endblock %}

