{% extends 'base-detail.html' %}
{% load helpers %}
{% load staticfiles %}
{% block title %}{{ candidate.full_name }}{% endblock %}

{% block header %}
    <p><a href='/candidates'>&laquo; Candidates</a></p>
    <h1>{{ candidate.full_name }}</h1>
{% endblock %}

{% block charts %}
    <h3>Net funds over time</h3>
    <div id='net-funds-chart'></div>

    <h3>Donations and expenditures over time</h3>
    <div id='expend-chart'></div>
{% endblock %}

{% block contact %}
    <div class="col-sm-4 col-sm-offset-2">
        <h4>Contact information</h4>
        <table class="table table-striped">
            <tbody>
            {% if candidate.business_phone %}
                <tr>
                    <td>
                        <i class="fa fa-fw fa-phone" aria-hidden="true"></i> {{ candidate.business_phone}}
                    </td>
                </tr>
            {% endif %}
            {% if candidate.home_phone %}
                <tr>
                    <td>
                        <i class="fa fa-fw fa-phone" aria-hidden="true"></i> {{ candidate.home_phone }}
                    </td>
                </tr>
            {% endif %}
            {% if candidate.email %}
                <tr>
                    <td>
                        <i class="fa fa-fw fa-envelope-o" aria-hidden="true"></i> <a href='mailto:{{candidate.email}}'>{{ candidate.email }}</a>
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block campaigns %}
    <div class="row">
        <div class="col-md-12">
            <h3>Campaigns</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Office</th>
                        <th>Committee</th>
                        <th>Election season</th>
                        <th>Won primary?</th>
                        <th>Won general?</th>
                    </tr>
                </thead>
                <tbody>
                    {% for campaign in candidate.campaign_set.all %}
                        <tr>
                            <td>{{ campaign.office.description }}</td>
                            <td>{{ campaign.committee_name|default_if_none:"" }}</td>
                            <td>{{ campaign.election_season.year }}</td>
                            <td>{{ campaign.primary_election_winner_status|default_if_none:"" }}</td>
                            <td>{{ campaign.general_election_winner_status|default_if_none:"" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/highcharts.js' %}"></script>
    <script src="{% static 'js/ejs_production.js' %}"></script>
    <script src="{% static 'js/accounting.min.js' %}"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/chart_helper.js' %}"></script>
    <script>
        function transaction_verb(transaction_type){
            var verbs = {
                'Monetary contribution': 'donated',
                'In Kind contribution': 'donated in-kind',
                'Anonymous Contribution': 'anonymously donated',
                'Refund monetary  (NOT BEING USED)': 'was refunded',
                'Monetary Expenditure': 'received'
            }
            return verbs[transaction_type];
        }

        //render net balance chart
        var balance_trend = {{balance_trend}};
        var balance_trend_f = [];

        // format investments
        for (i = 0; i < balance_trend.length; i++) {
            balance_trend_f.push([Date.UTC(balance_trend[i][1],balance_trend[i][2]-1,balance_trend[i][3]), balance_trend[i][0]]);
        }

        ChartHelper.netfunds('net-funds-chart', 'Net funds over time', '', 'Funds', balance_trend_f);


        //render donation/expenditure chart
        var expend_trend = {{expend_trend}};
        var expend_trend_f = [];

        var donation_trend = {{donation_trend}};
        var donation_trend_f = [];

        // format donations
        for (i = 0; i < donation_trend.length; i++) {
            donation_trend_f.push([Date.UTC(donation_trend[i][1],donation_trend[i][2]-1,donation_trend[i][3]), donation_trend[i][0]]);
        }

        // format expenditures
        for (i = 0; i < expend_trend.length; i++) {
            expend_trend_f.push([Date.UTC(expend_trend[i][1],expend_trend[i][2]-1,expend_trend[i][3]), expend_trend[i][0]]);
        }

        ChartHelper.donation_expenditure('expend-chart', 'Donations and expenditures over time', '', 'Money', [donation_trend_f, expend_trend_f]);

    </script>
    <script type="text/EJS" id="transaction-table-guts">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Donor</th>
                    <th class="text-right nowrap">Amount</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <% $.each(results, function(i, transaction){ %>
                    <tr>
                        <td>
                            <% if (transaction.full_name){ %>
                                <a href='/search/?term=<%= transaction.full_name %>'>
                                    <%= transaction.full_name %>
                                </a>
                            <% } else { %>
                                <a href='/search/?term=<%= transaction.company_name %>'>
                                    <%= transaction.company_name %>
                                </a>
                            <% } %>
                        </td>
                        <td class="text-right nowrap">
                            <% if (transaction.transaction_type.toLowerCase().endsWith('contribution')){ %>
                                <a href="/contributions/<%= transaction.id %>/">
                                    <%= transaction_verb(transaction.transaction_type) %>
                                    <strong>
                                        <%= accounting.formatMoney(transaction.amount) %>
                                    </strong>
                                </a>
                            <% } else { %>
                                <a href="/expenditures/<%= transaction.id %>/">
                                    <%= transaction_verb(transaction.transaction_type) %>
                                    <strong>
                                        <%= accounting.formatMoney(transaction.amount) %>
                                    </strong>
                                </a>
                            <% } %>
                        </td>
                        <td class='nowrap'>
                            on <%= moment(transaction.received_date).format('MMMM DD, YYYY') %>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
        <p>
            <% if ( previous ){ %>
                <a href='javascript://' class='btn btn-sm btn-primary page-link' data-page_link="<%= previous %>">
                    &laquo; Previous page
                </a>
            <% } %>
            <% if ( next ){ %>
                <a href='javascript://' class='btn btn-sm btn-primary page-link' data-page_link="<%= next %>">
                    Next page &raquo;
                </a>
            <% } %>
        </p>
    </script>
    <script type="text/javascript">
        function getPersonName(object){
            var person_name = '';
            if (object.name_prefix){
                person_name += object.name_prefix + ' ';
            }
            if (object.prefix){
                person_name += object.prefix + ' ';
            }
            if (object.first_name){
                person_name += object.first_name + ' ';
            }
            if (object.middle_name){
                person_name += object.middle_name + ' ';
            }
            if (object.last_name){
                person_name += object.last_name + ' ';
            }
            if (object.suffix){
                person_name += object.suffix + ' ';
            }
            return person_name
        }
    </script>

    <script type="text/EJS" id="top-money-table-guts">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Rank</th>
                    <% if(transaction_type == 'top-donors'){ %>
                        <th>Donor</th>
                        <th>Total donated</th>
                    <% } else { %>
                        <th>Recipient</th>
                        <th>Total received</th>
                    <% } %>
                    <th>Election year</th>
                </tr>
            </thead>
            <tbody>
                <% $.each(transactions, function(i, transaction){ %>
                    <% if (transaction.company_name && transaction.company_name != 'N/A'){ %>
                        <% var full_name = transaction.company_name %>
                    <% } else { %>
                        <% var full_name = getPersonName(transaction) %>
                    <% }%>
                    <tr>
                        <td><%= transaction.rank %></td>
                        <td>
                            <a href='/search/?term=<%= full_name %>'>
                                <%= full_name %>
                            </a>
                        </td>
                        <td class='nowrap'>
                            <%= accounting.formatMoney(transaction.amount) %>
                        </td>
                        <td><%= transaction.year %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </script>

    <script type="text/javascript">

        function getPage(e){
            var page_link = $(e.target).data('page_link');
            $.when($.getJSON(page_link)).then(
                function(data){
                    var template = new EJS({'text': $('#transaction-table-guts').html()});
                    $('#money-table-guts').html(template.render(data));
                    $('.page-link').off('click');
                    $('.page-link').on('click', getPage);
                }
            )
        }

        function displayTopMoneyTable(transaction_type){
            var url = '/api/' + transaction_type + '/' + '{{ candidate.id }}' + '/';
            $.when($.getJSON(url)).then(function(data){
                var template = new EJS({'text': $('#top-money-table-guts').html()});
                var context = {
                    'transactions': data,
                    'transaction_type': transaction_type
                };
                $('#money-table-guts').html(template.render(context));
            })
        }

        function displayTransactionTable(transaction_type, sort_order){
            if(transaction_type.endsWith('contributions')){
                var url = '/api/contributions/';
            } else if (transaction_type.endsWith('expenditures')){
                var url = '/api/expenditures/';
            }
            var params = {
                'candidate_id': '{{ candidate.id }}',
                'limit': 25,
            }
            if (sort_order){
                params['ordering'] = sort_order;
            }
            $.when($.getJSON(url, params)).then(
                function(data){
                    var template = new EJS({'text': $('#transaction-table-guts').html()});
                    $('#money-table-guts').html(template.render(data));
                    $('.page-link').off('click');
                    $('.page-link').on('click', getPage);
                }
            )
        }
        $(document).ready(function(){

            displayTopMoneyTable('top-donors');

            $('.transactions').on('click', function(e){
                $('#money-table-guts').html("<h1><i class='fa fa-spin fa-refresh'></i></h1>");
                if(!$(this).parent().hasClass('active')){
                    $('li[role="presentation"]').removeClass('active');
                    $(this).parent().addClass('active');
                }
                var transaction_type = $(this).data('table_type');
                if (transaction_type.startsWith('top')){
                    displayTopMoneyTable(transaction_type);
                } else {
                    var sort_order = null;
                    if (transaction_type.startsWith('largest')){
                        sort_order = '-amount';
                    }
                    displayTransactionTable(transaction_type, sort_order);
                }
            })
        })
    </script>

{% endblock %}
