{% extends 'base.html' %}

{% block full_content %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>
                {% spaceless %}
                {{ candidate.prefix|default_if_none:"" }}
                {{ candidate.first_name|default_if_none:"" }}
                {{ candidate.middle_name|default_if_none:"" }}
                {{ candidate.last_name|default_if_none:"" }}
                {{ candidate.suffix|default_if_none:"" }}
                {% endspaceless %}
            </h1>
            <table class="table table-condensed">
                <tbody>
                {% if candidate.business_phone %}
                    <tr>
                        <td>
                            <i class="fa fa-phone" aria-hidden="true"></i> (business) {{ candidate.business_phone}}
                        </td>
                    <tr>
                {% endif %}
                {% if candidate.home_phone %}
                    <tr>
                        <td>
                            <i class="fa fa-phone" aria-hidden="true"></i> (home) {{ candidate.home_phone }}
                        </td>
                    </tr>
                {% endif %}
                {% if candidate.email %}
                    <tr>
                        <td>
                            <i class="fa fa-envelope-o" aria-hidden="true"></i> {{ candidate.email }}
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Campaigns</h3>
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Office</th>
                        <th>Committee name</th>
                        <th>Election season</th>
                        <th>Won primary?</th>
                        <th>Won general?</th>
                    </tr>
                </thead>
                <tbody>
                    {% for campaign in object_list %}
                        <tr>
                            <td>{{ campaign.office_name }}</td>
                            <td>{{ campaign.committee_name|default_if_none:"" }}</td>
                            <td>{{ campaign.election_season_id }}</td>
                            <td>{{ campaign.primary_election_winner_status|default_if_none:"" }}</td>
                            <td>{{ campaign.general_election_winner_status|default_if_none:"" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
