{% extends 'base.html' %}
{% load helpers %}
{% load staticfiles %}
{% block title %}{{ pac.name }}{% endblock %}
{% block full_content %}

<div class="container">
    <p><a href='/committees'>&laquo; Committees</a></p>
    <h1>{{ pac.name }}</h1>
    <div class='row'>
        <div class="col-sm-6">
            <h4>{{ latest_filing.filing_period.description }} Report</h4>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>Opening balance</td>
                        <td class='text-right'>{{ latest_filing.opening_balance|format_money }}</td>
                    </tr>
                    <tr>
                        <td>Total contributions</td>
                        <td class='text-right'>{{ latest_filing.total_contributions|format_money }}</td>
                    </tr>
                    <tr>
                        <td>Total in-kind contributions</td>
                        <td class='text-right'>{{ latest_filing.total_inkind|format_money }}</td>
                    </tr>
                    <tr>
                        <td>Total expenditures</td>
                        <td class='text-right'>{{ latest_filing.total_expenditures|format_money }}</td>
                    </tr>
                    <tr>
                        <td><strong>Closing balance</strong></td>
                        <td class='text-right'><strong>{{ latest_filing.closing_balance|format_money }}</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class='col-sm-4 col-sm-offset-2'>
            <h4>Contact information</h4>
            <table class="table table-striped">
                <tbody>
                {% if pac.business_phone %}
                    <tr>
                        <td>
                            <i class="fa fa-fw fa-phone" aria-hidden="true"></i>
                            {{ pac.business_phone}}
                        </td>
                    </tr>
                {% endif %}
                {% if pac.home_phone %}
                    <tr>
                        <td>
                            <i class="fa fa-fw fa-phone" aria-hidden="true"></i>
                            {{ pac.home_phone }}
                        </td>
                    </tr>
                {% endif %}
                {% if pac.email %}
                    <tr>
                        <td>
                            <i class="fa fa-fw fa-envelope-o" aria-hidden="true"></i> <a href='mailto:{{pac.email}}'>{{ pac.email }}</a>
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills">
                <li role="presentation" class="active"><a class="transactions" href="javascript://" data-table_type="top-donors">Top 25 donors</a></li>
                <li role="presentation"><a class="transactions" href="javascript://" data-table_type="top-expenses">Top 25 expenses</a></li>
                <li role="presentation"><a class="transactions" href="javascript://" data-table_type="largest-contributions">Largest donations</a></li>
                <li role="presentation"><a class="transactions" href="javascript://" data-table_type="largest-expenditures">Largest expenditures</a></li>
                <li role="presentation"><a class="transactions" href="javascript://" data-table_type="contributions">All donations</a></li>
                <li role="presentation"><a class="transactions" href="javascript://" data-table_type="expenditures">All expenditures</a></li>
            </ul>
            <div id='money-table-guts'>
                <h1><i class='fa fa-spin fa-refresh'></i></h1>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/ejs_production.js' %}"></script>
    <script src="{% static 'js/accounting.min.js' %}"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script>
        function transaction_verb(transaction_type){
            var verbs = {
                'Monetary contribution': 'donated',
                'In Kind contribution': 'donated in-kind',
                'Anonymous Contribution': 'anonymously donated',
                'Refund monetary  (NOT BEING USED)': 'was refunded',
                'Monetary Expenditure': 'received'
            }
            return verbs[transaction_type];
        }
    </script>
    <script type="text/EJS" id="transaction-table-guts">

        <table class="table table-striped">
            <thead>
                <tr>
                    <% if (results[0].transaction_type.toLowerCase().endsWith('contribution')){ %>
                        <th>Donor</th>
                    <% } else { %>
                        <th>Recipient</th>
                    <% } %>
                    <th class="text-right nowrap">Amount</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <% $.each(results, function(i, transaction){ %>
                    <tr>
                        <td>
                            <% if (transaction.full_name){ %>
                                <a href='/search/?term=<%= transaction.full_name %>'>
                                    <%= transaction.full_name %>
                                </a>
                            <% } else { %>
                                <a href='/search/?term=<%= transaction.company_name %>'>
                                    <%= transaction.company_name %>
                                </a>
                            <% } %>
                        </td>
                        <td class="text-right nowrap">
                            <% if (transaction.transaction_type.toLowerCase().endsWith('contribution')){ %>
                                <a href="/contributions/<%= transaction.id %>/">
                                    <%= transaction_verb(transaction.transaction_type) %>
                                    <strong>
                                        <%= accounting.formatMoney(transaction.amount) %>
                                    </strong>
                                </a>
                            <% } else { %>
                                <a href="/expenditures/<%= transaction.id %>/">
                                    <%= transaction_verb(transaction.transaction_type) %>
                                    <strong>
                                        <%= accounting.formatMoney(transaction.amount) %>
                                    </strong>
                                </a>
                            <% } %>
                        </td>
                        <td class='nowrap'>
                            on <%= moment(transaction.received_date).format('MMMM DD, YYYY') %>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
        <p>
            <% if ( previous ){ %>
                <a href='javascript://' class='btn btn-sm btn-primary page-link' data-page_link="<%= previous %>">
                    &laquo; Previous page
                </a>
            <% } %>
            <% if ( next ){ %>
                <a href='javascript://' class='btn btn-sm btn-primary page-link' data-page_link="<%= next %>">
                    Next page &raquo;
                </a>
            <% } %>
        </p>
    </script>
    <script type="text/javascript">
        function getPersonName(object){
            var person_name = '';
            if (object.name_prefix){
                person_name += object.name_prefix + ' ';
            }
            if (object.prefix){
                person_name += object.prefix + ' ';
            }
            if (object.first_name){
                person_name += object.first_name + ' ';
            }
            if (object.middle_name){
                person_name += object.middle_name + ' ';
            }
            if (object.last_name){
                person_name += object.last_name + ' ';
            }
            if (object.suffix){
                person_name += object.suffix + ' ';
            }
            return person_name
        }
    </script>

    <script type="text/EJS" id="top-money-table-guts">
        <table class="table table-striped">
            <thead>
                <tr>
                    <% if(transaction_type == 'top-donors'){ %>
                        <th>Donor</th>
                        <th>Latest date</th>
                        <th class='text-right'>Total donated</th>
                    <% } else { %>
                        <th>Recipient</th>
                        <th>Latest date</th>
                        <th class='text-right'>Total received</th>
                    <% } %>
                </tr>
            </thead>
            <tbody>
                <% $.each(transactions, function(i, transaction){ %>
                    <% if (transaction.company_name && transaction.company_name != 'N/A'){ %>
                        <% var full_name = transaction.company_name %>
                    <% } else { %>
                        <% var full_name = getPersonName(transaction) %>
                    <% }%>
                    <tr>
                        <td>
                            <a href='/search/?term=<%= full_name %>'>
                                <%= full_name %>
                            </a>
                        </td>
                        <td class='nowrap'>
                            <%= moment(transaction.last_date).format('MMM DD, YYYY') %>
                        </td>
                        <td class='text-right nowrap'>
                            <%= accounting.formatMoney(transaction.amount) %>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </script>

    <script type="text/javascript">

        function getPage(e){
            var page_link = $(e.target).data('page_link');
            $.when($.getJSON(page_link)).then(
                function(data){
                    var template = new EJS({'text': $('#transaction-table-guts').html()});
                    $('#money-table-guts').html(template.render(data));
                    $('.page-link').off('click');
                    $('.page-link').on('click', getPage);
                }
            )
        }

        function displayTopMoneyTable(transaction_type){
            var url = '/api/' + transaction_type + '/' + '{{ pac.id }}' + '/';
            url += '?entity_type=pac';
            $.when($.getJSON(url)).then(function(data){
                var template = new EJS({'text': $('#top-money-table-guts').html()});
                var context = {
                    'transactions': data,
                    'transaction_type': transaction_type
                };
                $('#money-table-guts').html(template.render(context));
            })
        }

        function displayTransactionTable(transaction_type, sort_order){
            if(transaction_type.endsWith('contributions')){
                var url = '/api/contributions/';
            } else if (transaction_type.endsWith('expenditures')){
                var url = '/api/expenditures/';
            }
            var params = {
                'pac_id': '{{ pac.id }}',
                'limit': 25,
            }
            if (sort_order){
                params['ordering'] = sort_order;
            }
            $.when($.getJSON(url, params)).then(
                function(data){
                    var template = new EJS({'text': $('#transaction-table-guts').html()});
                    $('#money-table-guts').html(template.render(data));
                    $('.page-link').off('click');
                    $('.page-link').on('click', getPage);
                }
            )
        }
        $(document).ready(function(){

            displayTopMoneyTable('top-donors');

            $('.transactions').on('click', function(e){
                $('#money-table-guts').html("<h1><i class='fa fa-spin fa-refresh'></i></h1>");
                if(!$(this).parent().hasClass('active')){
                    $('li[role="presentation"]').removeClass('active');
                    $(this).parent().addClass('active');
                }
                var transaction_type = $(this).data('table_type');
                if (transaction_type.startsWith('top')){
                    displayTopMoneyTable(transaction_type);
                } else {
                    var sort_order = null;
                    if (transaction_type.startsWith('largest')){
                        sort_order = '-amount';
                    }
                    displayTransactionTable(transaction_type, sort_order);
                }
            })
        })
    </script>

{% endblock %}
