{% extends 'base.html' %}
{% load bootstrap_pagination %}
{% load helpers %}
{% block title %}Donations{% endblock %}

{% block full_content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1><i class='fa fa-fw fa-dollar'></i> Donations</h1>

            <table class="table table-striped" id="candidate-list">
                <thead>
                    <tr>
                        <th>
                            Donor
                        </th>

                        <th>
                            Amount
                        </th>
                        <th>
                            Recipient
                        </th>
                        <th>
                            Date
                            {{ sort_order|get_sort_icon|safe }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in object_list %}
                    <tr>
                        <td>
                          {{ transaction }}
                        </td>
                        <td>{{ transaction.amount|format_money }}</td>
                        <td>
                            <!-- Link to search -->
                        </td>
                        <td>{{ transaction.received_date|date:"M d, Y" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% bootstrap_paginate object_list range=10 %}
        </div>
    </div>

</div>
{% endblock %}
