{% extends 'base.html' %}

{% block full_content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>{{ office }}</h1>
            {% for election_season, candidates in elections.items %}
            <h3>Election Season {{ election_season }}</h3>
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Party</th>
                        <th>Initial balance</th>
                        {% if forloop.first %}
                            <th>Current balance</th>
                        {% else %}
                            <th>Closing balance</th>
                        {% endif %}
                        <th>Committee name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for candidate in candidates %}
                        <tr>
                            {% spaceless %}
                            <td>
                                <a href="{% url 'candidate-detail' candidate.id %}">
                                    {{ candidate.prefix|default_if_none:"" }}
                                    {{ candidate.first_name|default_if_none:"" }}
                                    {{ candidate.middle_name|default_if_none:"" }}
                                    {{ candidate.last_name|default_if_none:"" }}
                                    {{ candidate.suffix|default_if_none:"" }}
                                </a>
                            </td>
                            {% endspaceless %}
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

