body {
  font-size: 16px;
  font-family: Georgia,"Times New Roman",Times,serif;
}

table {
    font-size: 16px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #333333;
}


a { color: #04A5AA; }
a:hover, a:active { color: #8C0012; }


th a { color: #333333; }

.nav-pills > li.active > a, 
.nav-pills > li.active > a:hover, 
.nav-pills > li.active > a:focus {
    background-color: #8C0012;
}

#net-funds-chart { height: 200px; }