{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} - New Mexico Campaign Finance</title>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.yeti.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}" />

    {% block extra_css %}{% endblock %}

</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid container-fluid-nav">
            <div id="nav-title">
                <a class="navbar-brand" href="/">
                    <span id="logo-text">New Mexico Campaign Finance</span>
                </a>
            </div>
            <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/"><i class='fa fa-home'></i> Home</a>
                    </li>
                    <li>
                        <a href="/search/"><i class='fa fa-search'></i> Search</a>
                    </li>
                    <li>
                        <a href='/donations/'><i class='fa fa-dollar'></i> Donations</a>
                    </li>
                    <li>
                        <a href='/candidates/'><i class='fa fa-user'></i> Candidates</a>
                    </li>
                    <li>
                        <a href='/committees/'><i class='fa fa-group'></i> Committees</a>
                    </li>
                    <li>
                        <a href="/about/"><i class='fa fa-info-circle'></i> About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% block full_content %}
    {% endblock %}

    <div class="container-fluid footer">
        <div class='col-sm-12'>
            <hr />
            <p class='text-center'><small>Brought to you by <a href='http://nmindepth.com/'>New Mexico In Depth</a>. Website built by <a href='https://datamade.us'>DataMade</a>.</small></p>
        </div>
    </div>

    <script src="{% static 'js/jquery-1.10.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    {% block extra_js %}{% endblock %}

    <script>
        var analyticsTrackingCode = '';
    </script>
    <script src="{% static 'js/analytics_lib.js' %}"></script>

</body>
</html>