{% extends 'base.html' %}

{% block title %}Not Found{% endblock %}

{% block full_content %}
<div class="container">

    <div class='row'>
        <div class='col-sm-8 col-sm-offset-2'>
            <h1>Error</h1>
            <div class='text-center'>
                <i class='fa fa-spin-slow fa-circle-o-notch'></i> <i class='fa fa-spin-reverse fa-circle-o-notch'></i><br />
                J<br />
                ~~~
            </div>

            <p>Oops! There was an error.<br />It has been logged and the system administrator has been notified.</p>
            <p><a href="#" onclick="history.back();">&laquo; go back and try again</a></p>
        </div>
    </div>


</div>
{% endblock %}
