{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} - The Openness Project</title>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.yeti.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}" />

    {% block extra_css %}{% endblock %}

</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid container-fluid-nav">
            <div id="nav-title">
                <a class="navbar-brand" href="/">
                    <span id="logo-text">The Openness Project</span>
                </a>
            </div>
            <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{% url 'index' %}"><i class='fa fa-home'></i> Home</a>
                    </li>
                    <li>
                        <a href="{% url 'search' %}"><i class='fa fa-search'></i> Search</a>
                    </li>
                    <li>
                        <a href="{% url 'top-earners' %}"><i class='fa fa-plus-circle'></i> Top earners</a>
                    </li>
                    <li>
                        <a href="{% url 'donations' %}"><i class='fa fa-dollar'></i> Donations</a>
                    </li>
                    <li>
                        <a href='{% url 'candidate-list' %}'><i class='fa fa-user'></i> Candidates</a>
                    </li>
                    <li>
                        <a href='{% url 'committee-list' %}'><i class='fa fa-group'></i> Committees</a>
                    </li>
                    <li>
                        <a href="{% url 'about' %}"><i class='fa fa-info-circle'></i> About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% block full_content %}
    {% endblock %}

    <div class="container-fluid footer">
        <div class='col-sm-12 text-center'>
            <hr />
            <p>
                Brought to you by<br />
                <a href='http://nmindepth.com/'><img src="{% static 'images/nmid-logo.jpg' %}" alt='New Mexico In Depth' style='height: 26px;' title='New Mexico In Depth' class='img-responsive center-block'/></a>
            </p>

            <p>Website built by <a href='https://datamade.us'>DataMade</a></p>
        </div>
    </div>

    <script src="{% static 'js/jquery-1.10.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block js_templates %}{% endblock %}
    {% block extra_js %}{% endblock %}

    <script>
        var analyticsTrackingCode = '';
    </script>
    <script src="{% static 'js/analytics_lib.js' %}"></script>

</body>
</html>
