{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>

    {% include 'partials/seo.html' %}

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.yeti.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}" />

    {% block extra_css %}{% endblock %}

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static 'images/favicon/apple-touch-icon-57x57.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'images/favicon/apple-touch-icon-114x114.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'images/favicon/apple-touch-icon-72x72.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'images/favicon/apple-touch-icon-144x144.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{% static 'images/favicon/apple-touch-icon-60x60.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static 'images/favicon/apple-touch-icon-120x120.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static 'images/favicon/apple-touch-icon-76x76.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'images/favicon/apple-touch-icon-152x152.png' %}" />
    <link rel="icon" type="image/png" href="{% static 'images/favicon/favicon-196x196.png' %}" sizes="196x196" />
    <link rel="icon" type="image/png" href="{% static 'images/favicon/favicon-96x96.png' %}" sizes="96x96" />
    <link rel="icon" type="image/png" href="{% static 'images/favicon/favicon-32x32.png' %}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{% static 'images/favicon/favicon-16x16.png' %}" sizes="16x16" />
    <link rel="icon" type="image/png" href="{% static 'images/favicon/favicon-128.png' %}" sizes="128x128" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="{% static 'images/favicon/mstile-144x144.png' %}" />
    <meta name="msapplication-square70x70logo" content="{% static 'images/favicon/mstile-70x70.png' %}" />
    <meta name="msapplication-square150x150logo" content="{% static 'images/favicon/mstile-150x150.png' %}" />
    <meta name="msapplication-wide310x150logo" content="{% static 'images/favicon/mstile-310x150.png' %}" />
    <meta name="msapplication-square310x310logo" content="{% static 'images/favicon/mstile-310x310.png' %}" />

  </head>
  <body>

    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand">
            <a href="/">
              <i class='fa fa-circle-o-notch'></i>
              Money Trail NM
            </a>
          </span>
        </div>
        <div class="collapse navbar-collapse pull-right">
          <ul class="nav navbar-nav">
            <li>
              <a href="{% url 'index' %}"><i class='fa fa-home'></i> Home</a>
            </li>
            <li>
              <a href="{% url 'search' %}"><i class='fa fa-search'></i> Search</a>
            </li>
            <li>
              <a href="{% url 'donations' %}"><i class='fa fa-dollar'></i> Contributions</a>
            </li>
            <li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle"
                  data-toggle="dropdown"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false">
                  <i class='fa fa-users'></i>
                  Campaigns
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="{% url 'candidate-list' %}">
                      <i class='fa fa-user'></i>
                      People
                    </a>
                  </li>
                  <li>
                    <a href="{% url 'committee-list' %}">
                      <i class='fa fa-group'></i>
                      Committees
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="{% url 'financial-disclosures' %}"><i class='fa fa-dollar'></i> Financial Disclosures</a>
              </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle"
                  data-toggle="dropdown"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false">
                  <i class='fa fa-download'></i>
                  Data downloads
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="{% url 'camp-fin-downloads' %}">Campaign finance</a>
                  </li>
                  <li>
                    <a href="{% url 'lobbyist-downloads' %}">Lobbyists</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="{% url 'about' %}"><i class='fa fa-info-circle'></i> About</a>
              </li>

            </ul>
          </div>
        </div>
      </nav>

      {% block home_page_splash %}
      {% endblock %}

      <div class="container">
        {% block full_content %}
        {% endblock %}
      </div>

      <div class='footer'>
        <div class="container">
          <div class='row'>
            <div class='col-sm-4'>
              <p>
                Brought to you by<br />
                <a href='http://nmindepth.com/' target='_blank'><img src="{% static 'images/nmid-logo.png' %}" alt='New Mexico In Depth' style='height: 40px;' title='New Mexico In Depth' class='img-responsive'/></a>
              </p>
              <p>Website built by <a href='https://datamade.us'>DataMade</a></p>
            </div>
            <div class='col-sm-8'>
              <p>Stay up to date on all of New Mexico In Depth's Money Trail NM reporting and updates to this site.</p>

              <p>
                <a href='http://nmindepth.us6.list-manage2.com/subscribe?u=1d2ab093d81b992e50978b363&id=9294743d38' class='btn btn-danger' target='_blank'><i class='fa fa-envelope'></i> Get our news in your email box</a>
                <a href='https://www.facebook.com/NMInDepth' class='btn btn-danger' target='_blank'><i class='fa fa-facebook-official'></i> Follow us on Facebook</a>
              </p>

              <p>Data last updated from the <a href='https://www.cfis.state.nm.us/' target='_blank'>New Mexico Secretary of State</a> on {{ LAST_UPDATED }}</p>
            </div>
          </div>
        </div>
      </div>

      <script src="{% static 'js/jquery-1.10.1.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/initpopovers.js' %}"></script>
      {% block js_templates %}{% endblock %}
      {% block extra_js %}{% endblock %}

      <script>
        var analyticsTrackingCode = 'UA-85036377-1';
      </script>
      <script src="{% static 'js/analytics_lib.js' %}"></script>

    </body>
  </html>
