{% extends 'base.html' %}
{% load helpers %}
{% load staticfiles %}
{% block title %}
Keep an eye on money in New Mexico politics
{% endblock %}

{% block home_page_splash %}
 <div class="container-fluid" id="section-photo">
    <br /><br /><br /><br />
    <div class="row">
        <div class='col-sm-9 col-sm-offset-1'>

            <h1>Keep an eye on money in New Mexico politics</h1>

            <form action='/search' method='GET'>
                <div class="input-group input-group-lg">
                    <input type="text" class="form-control" placeholder="Search for names of candidates, committees and donors in New Mexico" name="term">
                    <input type='hidden' name='table_name' value='candidate' />
                    <input type='hidden' name='table_name' value='pac' />
                    <input type='hidden' name='table_name' value='treasurer' />
                    <input type='hidden' name='table_name' value='contribution' />
                    <input type='hidden' name='table_name' value='expenditure' />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class='fa fa-search'></i> <span class='hidden-sm hidden-xs'>Search</span></button>
                    </span>
                </div>
            </form>

        </div>

        <div class='col-sm-2 visible-lg-inline visible-md-inline'>
            <p class='text-center'>Brought to you by</p>
            <a href='http://nmindepth.com' target='_blank'><img src="{% static 'images/nmid-logo-square.png' %}" style='height:115px; padding-bottom: 5px;' class='img-responsive center-block' /></a>

            <div class='text-center'>
                <a href='http://nmindepth.us6.list-manage2.com/subscribe?u=1d2ab093d81b992e50978b363&id=9294743d38' target='_blank' class='btn btn-sm btn-default'><i class='fa fa-envelope'></i> Get updates</a>
            </div>
        </div>
    </div>


</div>

{% endblock %}


{% block full_content %}

<div class="row">
    <div class="col-sm-12">
        <br />
        {{ page.text|safe }}
    </div>
</div>

<div class='row'>
    <div class='col-sm-12'>

        <h2><i class='fa fa-star'></i> {{ year }} Race for Governor</a></h2>
        {{ home_page_governors_race|safe }}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Candidate</th>
                    <th>Cash on hand</th>
                    <th>Total funds raised since {{ last_year }}</th>
                </tr>
            </thead>
            <tbody>
                {% for campaign in governor_campaigns %}
                    <tr>
                        <td>
                            <a href="{% url 'candidate-detail' campaign.candidate.slug %}">
                                {{ campaign.candidate.full_name }}
                            </a>
                            {% if campaign.party_identifier %}
                                <small>
                                    <span class="party-identifier {{ campaign.party_identifier }}">
                                        ({{ campaign.party_identifier }})
                                    </span>
                                </small>
                            {% endif %}
                            {% if campaign.is_winner %}
                                <i class="fa fa-fw fa-check-circle green"></i>
                            {% endif %}
                            {% if campaign.note %}
                                <br/>
                                <span class="small">{{ campaign.note }}</span>
                            {% endif %}
                            </a>
                        </td>
                        <td>
                            <span class="hidden-sm hidden-xs">
                                {{ campaign.cash_on_hand | format_money }}
                            </span>
                            <span class="visible-sm-block visible-xs-block">
                                {{ campaign.cash_on_hand | format_money_short }}
                            </span>
                        </td>
                        <td>
                            <strong>
                                <span class="hidden-sm hidden-xs">
                                    {% funds_raised campaign last_year %}
                                </span>
                                <span class="visible-sm-block visible-xs-block">
                                    {% funds_raised campaign last_year short=True %}
                                </span>
                            </strong>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <br/>

        <h2><i class="fa fa-fw fa-check-square-o"></i> Hottest {{ year }} races</h2>
        {{ home_page_contested_races|safe }}
        {% with races=top_races %}
            {% include 'camp_fin/widgets/races_list.html' %}
        {% endwith %}

        <p><a href="{% url 'races' %}" class='btn btn-danger'><i class='fa fa-plus-circle'></i> More top races ></a></p><br /><br />

        <h2><a href='/donations/'><i class='fa fa-dollar'></i> Largest donations</a></h2>
        {{ home_page_largest_donations|safe }}
        <table class='table table-striped'>
            <thead>
                <tr>
                    <th>
                        Donor
                    </th>

                    <th>
                        Amount {{ sort_order|get_sort_icon|safe }}
                    </th>
                    <th>
                        Recipient
                    </th>
                    <th class='hidden-sm hidden-xs'>
                        Date
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transaction_objects %}
                <tr>
                    <td>
                        {{ transaction.full_name }}
                    </td>
                    <td class='no-wrap'>
                        <a href="{% url 'contribution-detail' transaction.id %}">
                            <span class='hidden-sm hidden-xs'>{{transaction.transaction_type|get_transaction_verb }}</span>
                            <strong class='hidden-sm hidden-xs'>{{ transaction.amount|format_money }}</strong>
                            <strong class='visible-sm-block visible-xs-block'>{{ transaction.amount|format_money_short }}</strong>
                            <span class='hidden-sm hidden-xs'>to</span>
                        </a>
                    </td>
                    <td>
                        {% if transaction.pac_slug %}
                          <a href="{% url 'committee-detail' transaction.pac_slug %}">{{ transaction.transaction_subject }}</a>
                        {% endif %}
                        {% if transaction.candidate_slug %}
                          <a href="{% url 'candidate-detail' transaction.candidate_slug %}">{{ transaction.transaction_subject }}</a>
                        {% endif %}
                    </td>
                    <td class='no-wrap hidden-sm hidden-xs'>
                        {{ transaction.received_date|date:"M j, Y" }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <p><a href='/donations/' class='btn btn-danger'><i class='fa fa-dollar'></i> Browse donations ></a></p><br /><br />

        <h2><a href='/candidates/'><i class='fa fa-user'></i> Top candidates</a></h2>
        {{ home_page_top_candidates|safe }}
        <table class='table table-striped'>
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Candidate</th>
                    <th class='hidden-sm hidden-xs'>Office</th>
                    <th class='hidden-sm hidden-xs'>Committee</th>
                    <th class='text-right no-wrap'>Cash on hand {{ sort_order|get_sort_icon|safe }}</th>
                </tr>
            </thead>
            <tbody>
                {% for candidate in candidate_objects %}
                <tr>
                    <td>{{ candidate.rank }}</td>
                    <td><a href="{% url 'candidate-detail' candidate.slug %}">{{ candidate.full_name }}</a></td>
                    <td class='hidden-sm hidden-xs'>{{ candidate.office_name }} {{ candidate.office_type }}</td>
                    <td class='hidden-sm hidden-xs'>{{ candidate.committee_name|default_if_none:"" }}</td>
                    <td class='text-right'>
                        <span class='hidden-sm hidden-xs'>{{ candidate.closing_balance|format_money }}</span>
                        <span class='visible-sm-block visible-xs-block'>{{ candidate.closing_balance|format_money_short }}</span>
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>

        <p><a href='/candidates/' class='btn btn-danger'><i class='fa fa-user'></i> Browse candidates ></a></p><br /><br />

        <h2><a href='/committees/'><i class='fa fa-group'></i> Top Committees</a></h2>
        {{ home_page_committees|safe }}
        <table class='table table-striped'>
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>PAC</th>
                    <th class='hidden-sm hidden-xs'>Latest report</th>
                    <th class='text-right no-wrap'>Cash on hand {{ sort_order|get_sort_icon|safe }}</th>
                </tr>
            </thead>
            <tbody>
                {% for pac in pac_objects %}
                <tr>
                    <td>{{ pac.rank }}</td>
                    <td><a href="{% url 'committee-detail' pac.slug %}">{{ pac.name }}</a></td>
                    <td class='hidden-sm hidden-xs'>{{ pac.filing_date | date:'M j, Y'}}</td>
                    <td class='text-right'>
                        <span class='hidden-sm hidden-xs'>{{ pac.closing_balance|format_money }}</span>
                        <span class='visible-sm-block visible-xs-block'>{{ pac.closing_balance|format_money_short }}</span>
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>

        <p><a href='/committees/' class='btn btn-danger'><i class='fa fa-group'></i> Browse committees ></a></p><br /><br />

        <h2><a href='/about/'><i class='fa fa-fw fa-info-circle'></i> About</a></h2>
        {{ home_page_about|safe }}
    </div>
</div>
{% endblock %}
